html, body {
  margin: 0;
  padding: 0;
}

body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  background: #eaeaea url('img/bg.png');
  color: #4d4d4d;
  width: 550px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.app-title {
  width: 100%;
  font-size: 70px;
  font-weight: bold;
  text-align: center;
  color: #b3b3b3;
  color: rgba(255, 255, 255, 0.3);
  text-shadow: -1px -1px rgba(0, 0, 0, 0.2);
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
}

.todo-button {
  line-height: 16px;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.1);
  font-size: 12px;
  margin-left: 4px;
  padding: 0 10px;
  border-radius: 3px;
  box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.2);
}

.todo-button:hover {
  background-color: rgba(0, 0, 0, 0.15);
  box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.3);
}

.disabled-todo-button {
  color: #888888;
}

.todo-input {
  width: 560px;
  height: 16px;
}

.todo {
  width: 600px;
}

.todos {
  border: 1px solid lightgray;
}

.todo .completed {
  color: #a9a9a9;
  text-decoration: line-through;
}

.selection-list-box {
  line-height: 16px;
  text-decoration: none;
  font-size: 12px;
}

.footer {
  width: 656px;
  color: #777777;
  padding: 0 15px;
  height: 20px;
  text-align: center;
}

.footer:before {
  content: '';
  height: 50px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3),
        0 6px 0 -3px rgba(255, 255, 255, 0.8),
        0 7px 1px -3px rgba(0, 0, 0, 0.3),
        0 43px 0 -6px rgba(255, 255, 255, 0.8),
        0 44px 2px -6px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3),
        0 6px 0 -3px rgba(255, 255, 255, 0.8),
        0 7px 1px -3px rgba(0, 0, 0, 0.3),
        0 43px 0 -6px rgba(255, 255, 255, 0.8),
        0 44px 2px -6px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3),
        0 6px 0 -3px rgba(255, 255, 255, 0.8),
        0 7px 1px -3px rgba(0, 0, 0, 0.3),
        0 43px 0 -6px rgba(255, 255, 255, 0.8),
        0 44px 2px -6px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3),
        0 6px 0 -3px rgba(255, 255, 255, 0.8),
        0 7px 1px -3px rgba(0, 0, 0, 0.3),
        0 43px 0 -6px rgba(255, 255, 255, 0.8),
        0 44px 2px -6px rgba(0, 0, 0, 0.2);
}

.info {
  color: #a6a6a6;
  font-size: 12px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
}

.info a {
  color: inherit;
}




